@font-face {
	font-family: 'higashi';
	src: font-url('HigashiOme-Gothic-1.3i.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'gosick';
	src: font-url('corp_round_v1.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'azuki';
	src: font-url('azuki.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

a:hover {
	text-decoration: none;
}

a {
	text-decoration: none;
}

* {
	margin: 0;
	padding: 0;
}

.body {
	font-family: 'azuki';
}

::-webkit-input-placeholder {
    color: #afafaf; }

.pagetop {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.3);
	text-decoration: none;
	display: none;
	position: fixed;
	bottom: 3rem;
	right: 3rem;
	font-size: 1.6rem;
	width: 4.3rem;
	height: 4.3rem;
	line-height: 4.3rem;
	border-radius: 4.3rem;
	text-align: center;
	cursor: pointer;
}

.pagetop:hover {
	color: #fff !important;
	background-color: #ff80c0;
	text-decoration: none;
}

.header {
	width: 100%;
	height: 70px;
	background: #534752;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;
}

.header2 {
	width: 100%;
	height: 100px;
	background: #534752;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;
}

.header-title {
	line-height: 70px;
	color: #b29a8e;
	font-family: 'Comic Sans MS';
	font-size: 30px;
	display: inline-block;
	margin-left: 45px;
}

.header2-title {
	color: #b29a8e;
	font-family: 'Comic Sans MS';
	font-size: 35px;
	margin-left: 45px;
	line-height: 100px;
}

.messages {
	margin-left: 20px;
	color: red;
}

.errorMessages {
	color: red;
}

.search {
	margin-top: 90px;
	text-align: center;
}

#dateSearch {
	width: 260px;
	height: 30px;
	border-radius: 10px;
	line-height: 30px;
}

#categorySearch {
	width: 260px;
	height: 30px;
	border-radius: 10px;
	line-height: 30px;
}

#menu {
	background: #faf7f1;
	color: #a5887a;
	display: inline-block;
	margin-right: 5px;
	font-family: 'Comic Sans MS';
	display: block;
	padding: 5px 0px 5px 25%;
	border-bottom: solid 1px #bebebe;
	width: 100%;
}

#menu:hover {
	text-decoration: none;
	background: #dacdc9;
}

.pageBody {
	background: #f3eade;
	height: 100%;
	width: 100%;
	padding-top: 30px;
}

.pageBody2 {
	background: #f3eade;
	height: 100vh;
	width: 100%;
}

.Body3 {
	height: 100%;
	width: 100%;
	padding-top: 60px;
	padding-bottom: 80px;
}

.Body2 {
	height: 100%;
	width: 100%;
	padding-top: 150px;
	padding-bottom: 80px;
	text-align: center;
}

.Body1 {
	height: 100%;
	width: 100%;
	padding-top: 350px;
	padding-bottom: 80px;
	text-align: center;
}

.Body4 {
	height: 100%;
	width: 100vh;
	padding-top: 350px;
	padding-bottom: 80px;
	text-align: center;
}

.copyright {
	text-align: center;
}

/* ホーム画面 */

.search-btn {
	height: 27px;
	line-height: 27px;
	weight: 40px;
	border-radius: 7px;
	background: #8e737a;
	color: white;
	font-family: 'Comic Sans MS';
	padding-right: 8px;
	padding-left: 3px;
	vertical-align: top;
}


 .grad-wrap {
  position: relative;
}
.grad-wrap pre{
	background-color: white;
	border:none;
}

.grad-wrap + .grad-wrap {
  margin-top: 40px;
}
.grad-trigger {
  color: #a5887a;
}
.grad-trigger::after {
  content: "...もっと見る" /*クリック前のボタンのラベル*/
}
.grad-trigger .fa {
  margin-right: .5em;
}
.grad-item {
	white-space: pre-wrap ;
	font-family: 'azuki';
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  font-size: 14px;
  padding-bottom: 15px;
}
.grad-item.is-hide {
  height: 300px; /*隠した後の高さ*/
}
.grad-item.is-hide::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 140px; /*グラデーションで隠す高さ*/
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
}
.grad-trigger.is-show {
  bottom: -2em;
}
.grad-trigger.is-show::after {
  content: "閉じる" /*クリック後にボタンのラベルを変える*/
}

.grad-trigger.is-show + grad-wrap pre.grad-item::before {
  background:black;
}

.scrollbar_none {
	height: 200px;
	overflow-y: auto;
}

.scrollbar_none::-webkit-scrollbar {
	display: none;
}

.post {
	font-family: 'azuki';
	width: 100%;
	background: white;
	box-shadow: 0px 2px 7px #a8a8a8;
	margin-bottom: 20px;
	padding: 10px;
	position: relative;
	padding: 22px;
	min-height: 490px;
	height: auto !important;
	height: 490px;
}

.postBody {
	margin-bottom: 25px;
	border-bottom: solid 0.5px #c8c8c8;
	width: 100%;
	height: 100%
}

#trash {
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 3;
}

.trash {
	color: #534752;
	font-size: 25px;
}

.comment-box {
	vertical-align: top;
	display: inline-block;
	border-radius: 10px;
	height: 30px;
	width: 80%;!important
}

.post-comment-btn {
	vertical-align: top;
	background: #8e737a;
	color: white;
	line-height: 30px;
}

.post-comment {
	margin-top:25px;
	position: absolute;
	bottom: 15px;
	width: 100%;
}

.commentMessage {
	height: 50px;
	width:100%;
	background: #ffe6ea;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding-left: 10px;
	line-height: 50px;
	border: solid 2px red;
}

.homeMessage {
	height: 50px;
	width:100%;
	background: #ffe6ea;
	margin-bottom: 20px;
	padding-left: 10px;
	line-height: 50px;
	border: solid 2px red;
}

.side {
	position: -webkit-sticky;
  position: sticky;
  top: 10px;
	z-index: 9;
	width: 16%;
	height: 200px;
	margin-top: 60px;
}

#menu:last-of-type{/*サイドバー最後の要素*/	    position: -webkit-sticky;	    position: sticky;	    top: 0;/*上から離す距離（50pxとか）*/	}

.footer-menu {
	width: 100%;
	height: 110px;
	background: #534752;
	position: fixed;
	bottom: 0px;
	left: 0px;
}

.profile {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #bbbbbb;
	text-align: center;
	display: inline-block;
}

.post-name {
	margin-left: 5px;
}

.post-date {
	position: absolute;
	top: 30px;
	right: 25px;
}

.comment-block {
	padding-bottom: 20px;
	height: auto;
}

.comment-account {
    position: relative;
    height: auto !important;
   /*  background: gray; */
}

.comment-profile {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background: #bbbbbb;
	text-align: center;
	display: inline-block;
}

.comment-content {
	margin-top:  20px;
	padding: 2px 10px 2px 10px;
	min-height: 30px;
	height: 30px;
	height: auto !important;
	background: #c8c8c8;
	border-radius: 15px;
	margin-top: 0px;
	max-width: 70%;

}


.comment-pre {
	background: #c8c8c8;
	min-height: 22px;
	height: 22px;
	height: auto !important;
	padding: 0;
	display: inline-block;
	border: solid 2px #c8c8c8;
	overflow: hidden;
	white-space: pre-wrap ;
}


.comment-date {
	display: inline-block;
}

#comment-trash {
	position: absolute;
	right: 10px;
	bottom: 10px;
	}

.comment-trash {
	color: #534752;
	font-size: 15px;
}

#footer-menu {
	color: white;
	display: block;
	font-family: 'Comic Sans MS';
}

#footer-menu:hover {
	text-decoration: none;
}

#foo {
	display: inline-block;
	text-align: center;
	height: 100px;
	margin-top: 25px;
}

.footer-icon {
	font-soze: 90px;
}

.new-button {
	color: #fff;
	background: #534752;
	text-decoration: none;
	position: fixed;
	bottom: 15rem;
	right: 3rem;
	font-size: 4.8rem;
	width: 13.3rem;
	height: 13.3rem;
	line-height: 13.3rem;
	border-radius: 13.3rem;
	text-align: center;
	cursor: pointer;
}

.new-button:hover {
	color: #ff80c0;important;

	text-decoration: none;
}

/* ユーザー管理画面 */

.user {
	padding-top: 40px;
	width: 100%;
	height: 200px;
	background: white;
	box-shadow: 0px 2px 7px #a8a8a8;
	margin-bottom: 5px;
	padding: 30px;
	position: relative;
}

.stop-btn {
	color: white;
	background: #534752;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.start-btn {
	color: white;
	background: #534752;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.userEdit-btn {
	color: white;
	background: #534752;
	position: absolute;
	bottom: 10px;
	right: 140px;
}

/* 新規投稿画面 */

#title {
	border-radius: 8px;
	width:85%;
	height: 30px;
	margin-bottom: 20px;
}

#category {
	border-radius: 8px;
	width:85%;
	height: 30px;
	margin-bottom: 20px;
}

#content {
	border-radius: 8px;
	width:85%;
	margin-bottom: 20px;
}

.post-btn {
	width:85%;
	background: #534752;
	color: white;
}

.post-btn:hover {
	!important color: #ff80c0;
}

#rs-title {
	border-radius: 20px;
	width:90%;
	height: 70px;
	margin-bottom: 50px;
}

#rs-category {
	border-radius: 20px;
	width:90%;
	height: 70px;
	margin-bottom: 50px;
}

#rs-content {
	border-radius: 20px;
	height: 210px;
	width:90%;
	margin-bottom: 70px;
}

.rs-post-btn {
	width:90%;
	height: 70px;
	background: #534752;
	color: white;
	font-size: 20px;
}

/* 新規登録画面 */

#user-name {
	border-radius: 8px;
	width:100%;
	height: 30px;
	margin-bottom: 20px;
}

#user-account {
	border-radius: 8px;
	width:100%;
	height: 30px;
	margin-bottom: 20px;
}

#user-password {
	border-radius: 8px;
	width:100%;
	height: 30px;
	margin-bottom: 20px;
}

#user-password2 {
	border-radius: 8px;
	width:100%;
	height: 30px;
	margin-bottom: 20px;
}

.signup-branch {
	text-align: left;
}

.signup-position {
	text-align: left;
}

#signup-btn {
	border-radius: 8px;
	width:100%;
	height: 30px;
	margin-bottom: 20px;
	background: #534752;
	color: white;
}

#signup-select {
	border-radius: 8px;
}